In [1]:
import pandas as pd
import os

In [2]:
def det_extension_file(archivo):
    name_file, extension_file = os.path.splitext(archivo)
    return name_file, extension_file

In [3]:
archivo = "hotel_bookings_1.csv"
var1, var2 = det_extension_file(archivo)
var1, var2

('hotel_bookings_1', '.csv')

In [4]:
def dataframe_from_file(archivo):
    aux1 , aux2 = os.path.splitext(archivo)
    if (aux2) == '.csv':
        dataframe = pd.read_csv(archivo)
    if (aux2) == '.xlsx':
        dataframe = pd.read_excel(archivo)
    return dataframe

In [5]:
df = dataframe_from_file(archivo)
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [6]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

# MODA

In [7]:
import statistics as stat

edades = [21, 17, 89, 76, 32, 21, 45, 21, 89, 21, 15, 89, 21]

moda=stat.mode(edades)

print(moda)

21

In [8]:
hotel = df["hotel"]
hotel

0         Resort Hotel
1         Resort Hotel
2         Resort Hotel
3         Resort Hotel
4         Resort Hotel
              ...
119385      City Hotel
119386      City Hotel
119387      City Hotel
119388      City Hotel
119389      City Hotel
Name: hotel, Length: 119390, dtype: object

In [9]:
hotel_moda = stat.mode(hotel)
hotel_moda

'City Hotel'

In [23]:
df["hotel"].mode()[0]

'City Hotel'

In [10]:
modas_df = {}
modas_df.setdefault('COLUMNAS',[])
modas_df.setdefault('MODA',[])

[]

In [11]:
for i in range(len(df.columns)):
    print("Columna",i,":",df.columns[i], )
          #," Moda: ", stat.mode(df[df.columns[i]]))

Columna 0 : hotel
Columna 1 : is_canceled
Columna 2 : lead_time
Columna 3 : arrival_date_year
Columna 4 : arrival_date_month
Columna 5 : arrival_date_week_number
Columna 6 : arrival_date_day_of_month
Columna 7 : stays_in_weekend_nights
Columna 8 : stays_in_week_nights
Columna 9 : adults
Columna 10 : children
Columna 11 : babies
Columna 12 : meal
Columna 13 : country
Columna 14 : market_segment
Columna 15 : distribution_channel
Columna 16 : is_repeated_guest
Columna 17 : previous_cancellations
Columna 18 : previous_bookings_not_canceled
Columna 19 : reserved_room_type
Columna 20 : assigned_room_type
Columna 21 : booking_changes
Columna 22 : deposit_type
Columna 23 : agent
Columna 24 : company
Columna 25 : days_in_waiting_list
Columna 26 : customer_type
Columna 27 : adr
Columna 28 : required_car_parking_spaces
Columna 29 : total_of_special_requests
Columna 30 : reservation_status
Columna 31 : reservation_status_date

In [24]:
for i in range(len(df.columns)):
    print("Columna",i,":",df.columns[i], df[df.columns[i]].mode()[0])

Columna 0 : hotel City Hotel
Columna 1 : is_canceled 0
Columna 2 : lead_time 0
Columna 3 : arrival_date_year 2016
Columna 4 : arrival_date_month August
Columna 5 : arrival_date_week_number 33
Columna 6 : arrival_date_day_of_month 17
Columna 7 : stays_in_weekend_nights 0
Columna 8 : stays_in_week_nights 2
Columna 9 : adults 2
Columna 10 : children 0.0
Columna 11 : babies 0
Columna 12 : meal BB
Columna 13 : country PRT
Columna 14 : market_segment Online TA
Columna 15 : distribution_channel TA/TO
Columna 16 : is_repeated_guest 0
Columna 17 : previous_cancellations 0
Columna 18 : previous_bookings_not_canceled 0
Columna 19 : reserved_room_type A
Columna 20 : assigned_room_type A
Columna 21 : booking_changes 0
Columna 22 : deposit_type No Deposit
Columna 23 : agent 9.0
Columna 24 : company 40.0
Columna 25 : days_in_waiting_list 0
Columna 26 : customer_type Transient
Columna 27 : adr 62.0
Columna 28 : required_car_parking_spaces 0
Columna 29 : total_of_special_requests 0
Columna 30 : reservation_status Check-Out
Columna 31 : reservation_status_date 2015-10-21