In [2]:
import pandas as pd
import os

In [3]:
ruta_xlsx = '1000 registros datos variados.xlsx'
pd.read_excel(ruta_xlsx)

,Number,Gender,NameSet,Title,GivenName,MiddleInitial,Surname,StreetAddress,City,State,...,Vehicle,Domain,BloodType,Pounds,Kilograms,FeetInches,Centimeters,GUID,Latitude,Longitude
0,1,male,American,Mr.,Mark,L,Miller,Salzillo 18,Viana do Bolo,OR,...,2012 Renault Espace,TransferLive.es,B+,1507,685,"5' 3""",161,24aaa1c3-8204-408a-a161-4cc478e2fd59,43623316,-5921364
1,2,male,American,Mr.,Richard,M,Alexander,Avda. Explanada Barnuevo 54,Arucas,GC,...,2007 Volvo XC90,BayRates.es,O+,1285,584,"5' 1""",154,8592500c-524e-4ace-80af-1ea36daae5ed,40949607,-5204841
2,3,female,American,Mrs.,Karin,S,Chitty,Ourense 3,Mont-roig del Camp,T,...,1993 Ford Contour,TagCasting.es,O+,1496,680,"6' 2""",187,2d8a6aa6-e4c4-4674-ae3d-38ed9174db7a,43661134,-7767872
3,4,female,American,Ms.,Lyndia,L,Elmore,Plaza de España 26,Santiago de Compostela,C,...,2010 BMW Z4,LouisvilleTrips.es,A+,1701,773,"5' 10""",178,e6d7a5ad-fb31-4e6e-96db-1212d5d997c7,41371427,-4617893
4,5,male,American,Mr.,Craig,J,Rice,José matía 96,Artziniega,VI,...,2003 Rolls-Royce Phantom,VisualStain.es,O+,1846,839,"5' 8""",173,ee09a3f5-101b-4165-a580-187fe5591dbd,40137477,-30703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,female,American,Ms.,Diana,W,Rogers,Bouciña 7,Valls,T,...,1995 Chevrolet Corsica,PrisonMobile.es,B+,2185,993,"5' 8""",172,101527af-1cf1-40c4-b0f3-fda71cbdaad3,40584107,565818
996,997,male,American,Mr.,Robert,D,Schlemmer,Cádiz 87,Benalúa de Guadix,GR,...,1999 Lincoln Continental,DesertScreen.es,B+,1775,807,"5' 2""",157,a9eba024-4491-4de2-a7a6-2ff7c68507b9,42575224,-7496472
997,998,female,American,Mrs.,Lauren,W,Greenberg,Rosa de los Vientos 24,Los Cortijos,CR,...,2003 Hyundai Sonata,BlackjackMyths.es,A+,1740,791,"5' 8""",173,70c7ee3c-7852-4a35-8c0c-db0e00dcd485,43146074,-2809937
998,999,male,American,Mr.,Ronald,S,Jennings,Rio Segura 10,Murchante,NaN,...,1993 Mazda MS-6,ChattanoogaAutoSales.es,A+,1632,742,"5' 10""",179,911861b2-c018-44ae-b970-5d9de5c79253,37325096,-5811717
999,1000,female,American,Ms.,Rosaline,L,Jacobs,Cercas Bajas 32,Montcada i Reixac,B,...,1996 Mercedes-Benz E,LinkSplash.es,B+,2383,1083,"5' 7""",170,bf32d1db-91fc-4d9d-acd9-fbe0fce89a6b,42349642,-7219642

In [4]:
pd.read_csv('MOCK_DATA_1.csv')

,first_name,last_name,full_name,email,gender,university,job,country,country_cod
0,Udell,Petrescu,Udell Petrescu,upetrescu0@businessweek.com,Polygender,Moscow State Institute of Steel and Alloys,Accountant II,Russia,RU
1,Travers,Castleton,Travers Castleton,tcastleton1@geocities.jp,Polygender,Ural Academy of Public Administration,Compensation Analyst,Russia,RU
2,Mari,Blas,Mari Blas,mblas2@naver.com,Female,Stockholm University,Recruiter,Sweden,SE
3,Ardith,Seagood,Ardith Seagood,aseagood3@dell.com,Genderfluid,"Rajamangala University of Technology, Lanna Nan",Account Coordinator,Thailand,TH
4,Jaine,McRuvie,Jaine McRuvie,jmcruvie4@cpanel.net,Genderqueer,Vaal University of Technology,Social Worker,South Africa,ZA
...,...,...,...,...,...,...,...,...,...
995,Clarice,Doumer,Clarice Doumer,cdoumerrn@typepad.com,Genderqueer,Universitas Tunas Pembangunan,Administrative Officer,Indonesia,ID
996,Nevil,Batcheldor,Nevil Batcheldor,nbatcheldorro@ustream.tv,Non-binary,China Agricultural University,Programmer Analyst IV,China,CN
997,Elliot,Sketcher,Elliot Sketcher,esketcherrp@webmd.com,Male,Sekolah Tinggi Akuntansi Negara (STAN),Accountant IV,Indonesia,ID
998,Estella,Whyteman,Estella Whyteman,ewhytemanrq@upenn.edu,Genderqueer,San Beda College,Paralegal,Philippines,PH
999,Marylee,Greswell,Marylee Greswell,mgreswellrr@usa.gov,Bigender,Technical University of Liberec,Quality Engineer,Czech Republic,CZ

In [5]:
file_xlsx, extension_xlsx = os.path.splitext("1000 registros datos variados.xlsx")
file_csv, extension_csv = os.path.splitext("MOCK_DATA_1.csv")
file_xlsx, extension_xlsx

('1000 registros datos variados', '.xlsx')

In [6]:
file_csv, extension_csv

('MOCK_DATA_1', '.csv')

In [7]:
def det_extension_file(archivo):
    name_file, extension_file = os.path.splitext(archivo)
    return name_file, extension_file

In [8]:
var1, var2 = det_extension_file("1000 registros datos variados.xlsx")
var1, var2

('1000 registros datos variados', '.xlsx')

In [9]:
var3, var4 = det_extension_file("MOCK_DATA_1.csv")
var3, var4

('MOCK_DATA_1', '.csv')

In [10]:
def dataframe_from_file(archivo):
    aux1 , aux2 = os.path.splitext(archivo)
    if (aux2) == '.csv':
        dataframe = pd.read_csv(archivo)
    if (aux2) == '.xlsx':
        dataframe = pd.read_excel(archivo)
    return dataframe

In [11]:
df = dataframe_from_file("1000 registros datos variados.xlsx")
df

,Number,Gender,NameSet,Title,GivenName,MiddleInitial,Surname,StreetAddress,City,State,...,Vehicle,Domain,BloodType,Pounds,Kilograms,FeetInches,Centimeters,GUID,Latitude,Longitude
0,1,male,American,Mr.,Mark,L,Miller,Salzillo 18,Viana do Bolo,OR,...,2012 Renault Espace,TransferLive.es,B+,1507,685,"5' 3""",161,24aaa1c3-8204-408a-a161-4cc478e2fd59,43623316,-5921364
1,2,male,American,Mr.,Richard,M,Alexander,Avda. Explanada Barnuevo 54,Arucas,GC,...,2007 Volvo XC90,BayRates.es,O+,1285,584,"5' 1""",154,8592500c-524e-4ace-80af-1ea36daae5ed,40949607,-5204841
2,3,female,American,Mrs.,Karin,S,Chitty,Ourense 3,Mont-roig del Camp,T,...,1993 Ford Contour,TagCasting.es,O+,1496,680,"6' 2""",187,2d8a6aa6-e4c4-4674-ae3d-38ed9174db7a,43661134,-7767872
3,4,female,American,Ms.,Lyndia,L,Elmore,Plaza de España 26,Santiago de Compostela,C,...,2010 BMW Z4,LouisvilleTrips.es,A+,1701,773,"5' 10""",178,e6d7a5ad-fb31-4e6e-96db-1212d5d997c7,41371427,-4617893
4,5,male,American,Mr.,Craig,J,Rice,José matía 96,Artziniega,VI,...,2003 Rolls-Royce Phantom,VisualStain.es,O+,1846,839,"5' 8""",173,ee09a3f5-101b-4165-a580-187fe5591dbd,40137477,-30703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,female,American,Ms.,Diana,W,Rogers,Bouciña 7,Valls,T,...,1995 Chevrolet Corsica,PrisonMobile.es,B+,2185,993,"5' 8""",172,101527af-1cf1-40c4-b0f3-fda71cbdaad3,40584107,565818
996,997,male,American,Mr.,Robert,D,Schlemmer,Cádiz 87,Benalúa de Guadix,GR,...,1999 Lincoln Continental,DesertScreen.es,B+,1775,807,"5' 2""",157,a9eba024-4491-4de2-a7a6-2ff7c68507b9,42575224,-7496472
997,998,female,American,Mrs.,Lauren,W,Greenberg,Rosa de los Vientos 24,Los Cortijos,CR,...,2003 Hyundai Sonata,BlackjackMyths.es,A+,1740,791,"5' 8""",173,70c7ee3c-7852-4a35-8c0c-db0e00dcd485,43146074,-2809937
998,999,male,American,Mr.,Ronald,S,Jennings,Rio Segura 10,Murchante,NaN,...,1993 Mazda MS-6,ChattanoogaAutoSales.es,A+,1632,742,"5' 10""",179,911861b2-c018-44ae-b970-5d9de5c79253,37325096,-5811717
999,1000,female,American,Ms.,Rosaline,L,Jacobs,Cercas Bajas 32,Montcada i Reixac,B,...,1996 Mercedes-Benz E,LinkSplash.es,B+,2383,1083,"5' 7""",170,bf32d1db-91fc-4d9d-acd9-fbe0fce89a6b,42349642,-7219642

In [12]:
df.dtypes

Number                    int64
Gender                   object
NameSet                  object
Title                    object
GivenName                object
MiddleInitial            object
Surname                  object
StreetAddress            object
City                     object
State                    object
StateFull                object
ZipCode                   int64
Country                  object
CountryFull              object
EmailAddress             object
Username                 object
Password                 object
BrowserUserAgent         object
TelephoneNumber          object
TelephoneCountryCode      int64
MothersMaiden            object
Birthday                 object
Age                       int64
TropicalZodiac           object
CCType                   object
CCNumber                  int64
CVV2                      int64
CCExpires                object
NationalID              float64
UPS                      object
WesternUnionMTCN          int64
MoneyGramMTCN             int64
Color                    object
Occupation               object
Company                  object
Vehicle                  object
Domain                   object
BloodType                object
Pounds                    int64
Kilograms                 int64
FeetInches               object
Centimeters               int64
GUID                     object
Latitude                  int64
Longitude                 int64
dtype: object

In [13]:
df['GUID'].dtype.name

'object'

In [14]:
df['Kilograms'].dtype.name

'int64'

In [15]:
for i in range(len(df.columns)):
    print(df.columns[i])
    #diccionario[df.columns[i]]

Number
Gender
NameSet
Title
GivenName
MiddleInitial
Surname
StreetAddress
City
State
StateFull
ZipCode
Country
CountryFull
EmailAddress
Username
Password
BrowserUserAgent
TelephoneNumber
TelephoneCountryCode
MothersMaiden
Birthday
Age
TropicalZodiac
CCType
CCNumber
CVV2
CCExpires
NationalID
UPS
WesternUnionMTCN
MoneyGramMTCN
Color
Occupation
Company
Vehicle
Domain
BloodType
Pounds
Kilograms
FeetInches
Centimeters
GUID
Latitude
Longitude

In [16]:
diccionario = {}
diccionario.setdefault('COLUMNAS',[])
diccionario.setdefault('TYPES',[])

[]

In [17]:
for i in range(len(df.columns)): #diccionario[hoja].append(dataframe.columns[i])
    diccionario['COLUMNAS'].append(df.columns[i])

In [18]:
diccionario

{'COLUMNAS': ['Number',
  'Gender',
  'NameSet',
  'Title',
  'GivenName',
  'MiddleInitial',
  'Surname',
  'StreetAddress',
  'City',
  'State',
  'StateFull',
  'ZipCode',
  'Country',
  'CountryFull',
  'EmailAddress',
  'Username',
  'Password',
  'BrowserUserAgent',
  'TelephoneNumber',
  'TelephoneCountryCode',
  'MothersMaiden',
  'Birthday',
  'Age',
  'TropicalZodiac',
  'CCType',
  'CCNumber',
  'CVV2',
  'CCExpires',
  'NationalID',
  'UPS',
  'WesternUnionMTCN',
  'MoneyGramMTCN',
  'Color',
  'Occupation',
  'Company',
  'Vehicle',
  'Domain',
  'BloodType',
  'Pounds',
  'Kilograms',
  'FeetInches',
  'Centimeters',
  'GUID',
  'Latitude',
  'Longitude'],
 'TYPES': []}

In [19]:
for i in range(len(df.columns)):
    print(df[diccionario['COLUMNAS'][i]].dtype)
    diccionario['TYPES'].append(df[diccionario['COLUMNAS'][i]].dtype.name)

int64
object
object
object
object
object
object
object
object
object
object
int64
object
object
object
object
object
object
object
int64
object
object
int64
object
object
int64
int64
object
float64
object
int64
int64
object
object
object
object
object
object
int64
int64
object
int64
object
int64
int64

In [20]:
diccionario

{'COLUMNAS': ['Number',
  'Gender',
  'NameSet',
  'Title',
  'GivenName',
  'MiddleInitial',
  'Surname',
  'StreetAddress',
  'City',
  'State',
  'StateFull',
  'ZipCode',
  'Country',
  'CountryFull',
  'EmailAddress',
  'Username',
  'Password',
  'BrowserUserAgent',
  'TelephoneNumber',
  'TelephoneCountryCode',
  'MothersMaiden',
  'Birthday',
  'Age',
  'TropicalZodiac',
  'CCType',
  'CCNumber',
  'CVV2',
  'CCExpires',
  'NationalID',
  'UPS',
  'WesternUnionMTCN',
  'MoneyGramMTCN',
  'Color',
  'Occupation',
  'Company',
  'Vehicle',
  'Domain',
  'BloodType',
  'Pounds',
  'Kilograms',
  'FeetInches',
  'Centimeters',
  'GUID',
  'Latitude',
  'Longitude'],
 'TYPES': ['int64',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'int64',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'int64',
  'object',
  'object',
  'int64',
  'object',
  'object',
  'int64',
  'int64',
  'object',
  'float64',
  'object',
  'int64',
  'int64',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'int64',
  'int64',
  'object',
  'int64',
  'object',
  'int64',
  'int64']}

In [21]:
def dframe_to_dicc(dataframe):
    dic = {}
    dic.setdefault('COLUMNAS',[])
    dic.setdefault('TYPES',[])
    for i in range(len(df.columns)):
        dic['COLUMNAS'].append(df.columns[i])
        dic['TYPES'].append(df[dic['COLUMNAS'][i]].dtype.name)
    return dic

In [22]:
dic_prueba = dframe_to_dicc(df)
dic_prueba

{'COLUMNAS': ['Number',
  'Gender',
  'NameSet',
  'Title',
  'GivenName',
  'MiddleInitial',
  'Surname',
  'StreetAddress',
  'City',
  'State',
  'StateFull',
  'ZipCode',
  'Country',
  'CountryFull',
  'EmailAddress',
  'Username',
  'Password',
  'BrowserUserAgent',
  'TelephoneNumber',
  'TelephoneCountryCode',
  'MothersMaiden',
  'Birthday',
  'Age',
  'TropicalZodiac',
  'CCType',
  'CCNumber',
  'CVV2',
  'CCExpires',
  'NationalID',
  'UPS',
  'WesternUnionMTCN',
  'MoneyGramMTCN',
  'Color',
  'Occupation',
  'Company',
  'Vehicle',
  'Domain',
  'BloodType',
  'Pounds',
  'Kilograms',
  'FeetInches',
  'Centimeters',
  'GUID',
  'Latitude',
  'Longitude'],
 'TYPES': ['int64',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'int64',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'int64',
  'object',
  'object',
  'int64',
  'object',
  'object',
  'int64',
  'int64',
  'object',
  'float64',
  'object',
  'int64',
  'int64',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'int64',
  'int64',
  'object',
  'int64',
  'object',
  'int64',
  'int64']}

In [23]:
for key in dic_prueba:
    print(key, " : ", dic_prueba[key], "\n")

COLUMNAS  :  ['Number', 'Gender', 'NameSet', 'Title', 'GivenName', 'MiddleInitial', 'Surname', 'StreetAddress', 'City', 'State', 'StateFull', 'ZipCode', 'Country', 'CountryFull', 'EmailAddress', 'Username', 'Password', 'BrowserUserAgent', 'TelephoneNumber', 'TelephoneCountryCode', 'MothersMaiden', 'Birthday', 'Age', 'TropicalZodiac', 'CCType', 'CCNumber', 'CVV2', 'CCExpires', 'NationalID', 'UPS', 'WesternUnionMTCN', 'MoneyGramMTCN', 'Color', 'Occupation', 'Company', 'Vehicle', 'Domain', 'BloodType', 'Pounds', 'Kilograms', 'FeetInches', 'Centimeters', 'GUID', 'Latitude', 'Longitude']

TYPES  :  ['int64', 'object', 'object', 'object', 'object', 'object', 'object', 'object', 'object', 'object', 'object', 'int64', 'object', 'object', 'object', 'object', 'object', 'object', 'object', 'int64', 'object', 'object', 'int64', 'object', 'object', 'int64', 'int64', 'object', 'float64', 'object', 'int64', 'int64', 'object', 'object', 'object', 'object', 'object', 'object', 'int64', 'int64', 'object', 'int64', 'object', 'int64', 'int64']

In [24]:
for i in dic_prueba["COLUMNAS"]:
    print(i)

Number
Gender
NameSet
Title
GivenName
MiddleInitial
Surname
StreetAddress
City
State
StateFull
ZipCode
Country
CountryFull
EmailAddress
Username
Password
BrowserUserAgent
TelephoneNumber
TelephoneCountryCode
MothersMaiden
Birthday
Age
TropicalZodiac
CCType
CCNumber
CVV2
CCExpires
NationalID
UPS
WesternUnionMTCN
MoneyGramMTCN
Color
Occupation
Company
Vehicle
Domain
BloodType
Pounds
Kilograms
FeetInches
Centimeters
GUID
Latitude
Longitude

In [25]:
print(len(dic_prueba["COLUMNAS"]))

45