In [12]:
import pandas as pd
import os

In [13]:
def det_extension_file(archivo):
    name_file, extension_file = os.path.splitext(archivo)
    return name_file, extension_file

In [3]:
archivo = r'C:\Users\ivan1\Desktop\Modelo-predictivo-de-errores-en-los-datos\hotel_bookings_1.csv'
var1, var2 = det_extension_file(archivo)
var1, var2

('C:\\Users\\ivan1\\Desktop\\Modelo-predictivo-de-errores-en-los-datos\\hotel_bookings_1',
 '.csv')

In [6]:
file = r'C:\Users\ivan1\Desktop\Modelo-predictivo-de-errores-en-los-datos\DESARROLLO\hotel_bookings_1_NGRAMS-test-2-cols--witherrors.csv'
v1,v2 = det_extension_file(file)
v1,v2

('C:\\Users\\ivan1\\Desktop\\Modelo-predictivo-de-errores-en-los-datos\\DESARROLLO\\hotel_bookings_1_NGRAMS-test-2-cols--witherrors',
 '.csv')

In [8]:
def dataframe_from_file(archivo):
    aux1 , aux2 = os.path.splitext(archivo)
    if (aux2) == '.csv':
        dataframe = pd.read_csv(archivo)
    if (aux2) == '.xlsx':
        dataframe = pd.read_excel(archivo)
    return dataframe

In [24]:
def dataframe_from_file_sep(archivo,separador):
    aux1, aux2 =  os.path.splitext(archivo)
    if (aux2) == '.csv':
        dataframe = pd.read_csv(archivo,sep = separador)
    if(aux2) == '.xlsx':
        dataframe = pd.read_excel(archivo)
    return dataframe

In [26]:
dftest = dataframe_from_file_sep(r"C:\Users\ivan1\Desktop\Modelo-predictivo-de-errores-en-los-datos\DESARROLLO\DATASETS PRUEBAS\hotel_bookings_25000 - NULLS CORRECCION.csv",',')
dftest

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Htel,0,342,2015,Juli,27.0,1,0,0,2.0,...,Deposit No,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015
1,rsort Hotel,0,737,2015,Dicember,27.0,1,0,0,2.0,...,Refund Non,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015
2,Cty otel,0,7,2015,januari,27.0,1,0,1,1.0,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015
3,city hotl,0,13,2015,Epril,NaN,1,0,1,1.0,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015
4,CITY HTEL,0,14,2015,mai,NaN,1,0,2,2.0,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,03-07-2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,Resort Hotel,0,4,2016,June,24.0,10,0,1,2.0,...,No Deposit,NaN,NaN,0,Transient,182.1,0,0,Check-Out,11-06-2016
24996,Resort Hotel,0,44,2016,June,24.0,7,0,4,2.0,...,No Deposit,250.0,NaN,0,Transient-Party,143.0,0,0,Check-Out,11-06-2016
24997,Resort Hotel,0,44,2016,June,24.0,7,0,4,2.0,...,No Deposit,250.0,NaN,0,Transient-Party,130.5,1,0,Check-Out,11-06-2016
24998,Resort Hotel,0,118,2016,May,23.0,31,2,9,2.0,...,No Deposit,143.0,NaN,0,Contract,68.6,0,1,Check-Out,11-06-2016
24999,Resort Hotel,0,96,2016,June,24.0,8,0,4,2.0,...,No Deposit,240.0,NaN,0,Transient,116.0,0,1,Check-Out,12-06-2016

In [27]:
dftest2 = dataframe_from_file_sep(r'C:\Users\ivan1\Desktop\Modelo-predictivo-de-errores-en-los-datos\DESARROLLO\DATASETS PRUEBAS\hotel_bookings_25000 - NULLS CORRECCION  testsep.csv',';')
dftest2

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Htel,0,342,2015,Juli,27.0,1,0,0,2.0,...,Deposit No,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015
1,rsort Hotel,0,737,2015,Dicember,27.0,1,0,0,2.0,...,Refund Non,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015
2,Cty otel,0,7,2015,januari,27.0,1,0,1,1.0,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015
3,city hotl,0,13,2015,Epril,NaN,1,0,1,1.0,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015
4,CITY HTEL,0,14,2015,mai,NaN,1,0,2,2.0,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,03-07-2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,Resort Hotel,0,4,2016,June,24.0,10,0,1,2.0,...,No Deposit,NaN,NaN,0,Transient,182.1,0,0,Check-Out,11-06-2016
24996,Resort Hotel,0,44,2016,June,24.0,7,0,4,2.0,...,No Deposit,250.0,NaN,0,Transient-Party,143.0,0,0,Check-Out,11-06-2016
24997,Resort Hotel,0,44,2016,June,24.0,7,0,4,2.0,...,No Deposit,250.0,NaN,0,Transient-Party,130.5,1,0,Check-Out,11-06-2016
24998,Resort Hotel,0,118,2016,May,23.0,31,2,9,2.0,...,No Deposit,143.0,NaN,0,Contract,68.6,0,1,Check-Out,11-06-2016
24999,Resort Hotel,0,96,2016,June,24.0,8,0,4,2.0,...,No Deposit,240.0,NaN,0,Transient,116.0,0,1,Check-Out,12-06-2016

In [29]:
dftest3 = dataframe_from_file_sep(r'C:\Users\ivan1\Desktop\Modelo-predictivo-de-errores-en-los-datos\DESARROLLO\hotel_bookings_1_NGRAMS-test.xlsx','')
dftest3

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [9]:
df = dataframe_from_file(archivo)
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [16]:
data_test = pd.read_csv(r'C:\Users\ivan1\Desktop\Modelo-predictivo-de-errores-en-los-datos\DESARROLLO\DATASETS PRUEBAS\hotel_bookings_25000 - NULLS CORRECCION  testsep.csv', sep=';')

In [17]:
data_test

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Htel,0,342,2015,Juli,27.0,1,0,0,2.0,...,Deposit No,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015
1,rsort Hotel,0,737,2015,Dicember,27.0,1,0,0,2.0,...,Refund Non,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015
2,Cty otel,0,7,2015,januari,27.0,1,0,1,1.0,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015
3,city hotl,0,13,2015,Epril,NaN,1,0,1,1.0,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015
4,CITY HTEL,0,14,2015,mai,NaN,1,0,2,2.0,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,03-07-2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,Resort Hotel,0,4,2016,June,24.0,10,0,1,2.0,...,No Deposit,NaN,NaN,0,Transient,182.1,0,0,Check-Out,11-06-2016
24996,Resort Hotel,0,44,2016,June,24.0,7,0,4,2.0,...,No Deposit,250.0,NaN,0,Transient-Party,143.0,0,0,Check-Out,11-06-2016
24997,Resort Hotel,0,44,2016,June,24.0,7,0,4,2.0,...,No Deposit,250.0,NaN,0,Transient-Party,130.5,1,0,Check-Out,11-06-2016
24998,Resort Hotel,0,118,2016,May,23.0,31,2,9,2.0,...,No Deposit,143.0,NaN,0,Contract,68.6,0,1,Check-Out,11-06-2016
24999,Resort Hotel,0,96,2016,June,24.0,8,0,4,2.0,...,No Deposit,240.0,NaN,0,Transient,116.0,0,1,Check-Out,12-06-2016

In [21]:
data_test1 = pd.read_csv(r"C:\Users\ivan1\Desktop\Modelo-predictivo-de-errores-en-los-datos\DESARROLLO\DATASETS PRUEBAS\hotel_bookings_25000 - NULLS CORRECCION.csv", sep = ',')

In [22]:
data_test1

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Htel,0,342,2015,Juli,27.0,1,0,0,2.0,...,Deposit No,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015
1,rsort Hotel,0,737,2015,Dicember,27.0,1,0,0,2.0,...,Refund Non,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015
2,Cty otel,0,7,2015,januari,27.0,1,0,1,1.0,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015
3,city hotl,0,13,2015,Epril,NaN,1,0,1,1.0,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015
4,CITY HTEL,0,14,2015,mai,NaN,1,0,2,2.0,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,03-07-2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,Resort Hotel,0,4,2016,June,24.0,10,0,1,2.0,...,No Deposit,NaN,NaN,0,Transient,182.1,0,0,Check-Out,11-06-2016
24996,Resort Hotel,0,44,2016,June,24.0,7,0,4,2.0,...,No Deposit,250.0,NaN,0,Transient-Party,143.0,0,0,Check-Out,11-06-2016
24997,Resort Hotel,0,44,2016,June,24.0,7,0,4,2.0,...,No Deposit,250.0,NaN,0,Transient-Party,130.5,1,0,Check-Out,11-06-2016
24998,Resort Hotel,0,118,2016,May,23.0,31,2,9,2.0,...,No Deposit,143.0,NaN,0,Contract,68.6,0,1,Check-Out,11-06-2016
24999,Resort Hotel,0,96,2016,June,24.0,8,0,4,2.0,...,No Deposit,240.0,NaN,0,Transient,116.0,0,1,Check-Out,12-06-2016

In [8]:
df.loc[:,'hotel'] == 'Resort Hotel'

0          True
1         False
2          True
3          True
4          True
          ...
119385    False
119386    False
119387    False
119388    False
119389    False
Name: hotel, Length: 119390, dtype: bool

In [9]:
df.loc[df.loc[:,'hotel'] == 'Resort Hotel']

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,01-07-2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,02-07-2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,02-07-2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,03-07-2015
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,03-07-2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40055,Resort Hotel,0,212,2017,August,35,31,2,8,2,...,No Deposit,143.0,NaN,0,Transient,89.75,0,0,Check-Out,10-09-2017
40056,Resort Hotel,0,169,2017,August,35,30,2,9,2,...,No Deposit,250.0,NaN,0,Transient-Party,202.27,0,1,Check-Out,10-09-2017
40057,Resort Hotel,0,204,2017,August,35,29,4,10,2,...,No Deposit,250.0,NaN,0,Transient,153.57,0,3,Check-Out,12-09-2017
40058,Resort Hotel,0,211,2017,August,35,31,4,10,2,...,No Deposit,40.0,NaN,0,Contract,112.80,0,1,Check-Out,14-09-2017
40059,Resort Hotel,0,161,2017,August,35,31,4,10,2,...,No Deposit,69.0,NaN,0,Transient,99.06,0,0,Check-Out,14-09-2017

In [13]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [19]:
df.groupby(["hotel"]).size()

hotel
City Hotel       79330
Resort Htel          1
Resorte Hotel        1
hola             40058
dtype: int64

In [17]:
df["hotel"] = df["hotel"].str.replace("Resort Hotel","hola")

In [18]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,hola,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,01-07-2015
1,Resort Htel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,01-07-2015
2,hola,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,02-07-2015
3,hola,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,02-07-2015
4,hola,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,03-07-2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,06-09-2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,07-09-2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,07-09-2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,07-09-2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,07-09-2017

In [10]:
df[df.columns["hotel"]] = df[df.columns["hotel"]].replace(to_replace = 'Resort Hotel', value = 'HOLA')

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [ ]:
df[df_string.columns[col_string_name]] = df[df_string.columns[col_string_name]].replace(to_replace = l,  value = VAR1)

In [7]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [9]:
df['hotel'] = df['hotel'].replace(to_replace = 'City Hotel', value = 'nuevo')

In [10]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,nuevo,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,nuevo,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,nuevo,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,nuevo,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,nuevo,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [8]:
df.columns[0]

'hotel'

# MODA

In [9]:
import statistics as stat

edades = [21, 17, 89, 76, 32, 21, 45, 21, 89, 21, 15, 89, 21]

moda=stat.mode(edades)

print(moda)

21

In [10]:
hotel = df["hotel"]
hotel

0         Resort Hotel
1         Resort Hotel
2         Resort Hotel
3         Resort Hotel
4         Resort Hotel
              ...
119385      City Hotel
119386      City Hotel
119387      City Hotel
119388      City Hotel
119389      City Hotel
Name: hotel, Length: 119390, dtype: object

In [11]:
hotel_moda = stat.mode(hotel)
hotel_moda

'City Hotel'

In [12]:
df["hotel"].mode()[0]

'City Hotel'

In [13]:
modas_df = {}
modas_df.setdefault('COLUMNAS',[])
modas_df.setdefault('MODA',[])

[]

In [14]:
for i in range(len(df.columns)):
    print("Columna",i,":",df.columns[i], )
          #," Moda: ", stat.mode(df[df.columns[i]]))

Columna 0 : hotel
Columna 1 : is_canceled
Columna 2 : lead_time
Columna 3 : arrival_date_year
Columna 4 : arrival_date_month
Columna 5 : arrival_date_week_number
Columna 6 : arrival_date_day_of_month
Columna 7 : stays_in_weekend_nights
Columna 8 : stays_in_week_nights
Columna 9 : adults
Columna 10 : children
Columna 11 : babies
Columna 12 : meal
Columna 13 : country
Columna 14 : market_segment
Columna 15 : distribution_channel
Columna 16 : is_repeated_guest
Columna 17 : previous_cancellations
Columna 18 : previous_bookings_not_canceled
Columna 19 : reserved_room_type
Columna 20 : assigned_room_type
Columna 21 : booking_changes
Columna 22 : deposit_type
Columna 23 : agent
Columna 24 : company
Columna 25 : days_in_waiting_list
Columna 26 : customer_type
Columna 27 : adr
Columna 28 : required_car_parking_spaces
Columna 29 : total_of_special_requests
Columna 30 : reservation_status
Columna 31 : reservation_status_date

In [15]:
for i in range(len(df.columns)):
    print("Columna",i,":",df.columns[i], df[df.columns[i]].mode()[0])

Columna 0 : hotel City Hotel
Columna 1 : is_canceled 0
Columna 2 : lead_time 0
Columna 3 : arrival_date_year 2016
Columna 4 : arrival_date_month August
Columna 5 : arrival_date_week_number 33
Columna 6 : arrival_date_day_of_month 17
Columna 7 : stays_in_weekend_nights 0
Columna 8 : stays_in_week_nights 2
Columna 9 : adults 2
Columna 10 : children 0.0
Columna 11 : babies 0
Columna 12 : meal BB
Columna 13 : country PRT
Columna 14 : market_segment Online TA
Columna 15 : distribution_channel TA/TO
Columna 16 : is_repeated_guest 0
Columna 17 : previous_cancellations 0
Columna 18 : previous_bookings_not_canceled 0
Columna 19 : reserved_room_type A
Columna 20 : assigned_room_type A
Columna 21 : booking_changes 0
Columna 22 : deposit_type No Deposit
Columna 23 : agent 9.0
Columna 24 : company 40.0
Columna 25 : days_in_waiting_list 0
Columna 26 : customer_type Transient
Columna 27 : adr 62.0
Columna 28 : required_car_parking_spaces 0
Columna 29 : total_of_special_requests 0
Columna 30 : reservation_status Check-Out
Columna 31 : reservation_status_date 2015-10-21

# VALORES MAX,MIN,MEDIA,MEDIANA,CURTOSIS DE COLUMNAS NUMERICAS

In [18]:
for i in range(len(df.columns)):
    #print(df.columns[i], " - ", df[df.columns[i]].dtype.name)
    if(df[df.columns[i]].dtype.name == 'int64' or df[df.columns[i]].dtype.name == 'int64'):
        print("(1) ","NAME_COL: ",df.columns[i], " //TYPE: ", df[df.columns[i]].dtype.name, "//MAX_VAL: ",df[df.columns[i]].max(), "//MIN_VAL: ",df[df.columns[i]].min(), "//MEDIA: ",df[df.columns[i]].mean(), "//MEDIANA: ",df[df.columns[i]].median(), "//CURTOSIS: ", df[df.columns[i]].kurt())
    else:
        print("(2) ","NAME_COL: ",df.columns[i], " //TYPE: ", df[df.columns[i]].dtype.name)

(2)  NAME_COL:  hotel  //TYPE:  object
(1)  NAME_COL:  is_canceled  //TYPE:  int64 //MAX_VAL:  1 //MIN_VAL:  0 //MEDIA:  0.37041628277075134 //MEDIANA:  0.0 //CURTOSIS:  -1.7120049858378619
(1)  NAME_COL:  lead_time  //TYPE:  int64 //MAX_VAL:  737 //MIN_VAL:  0 //MEDIA:  104.01141636652986 //MEDIANA:  69.0 //CURTOSIS:  1.6964488485585467
(1)  NAME_COL:  arrival_date_year  //TYPE:  int64 //MAX_VAL:  2017 //MIN_VAL:  2015 //MEDIA:  2016.156554150264 //MEDIANA:  2016.0 //CURTOSIS:  -0.9945637526390856
(2)  NAME_COL:  arrival_date_month  //TYPE:  object
(1)  NAME_COL:  arrival_date_week_number  //TYPE:  int64 //MAX_VAL:  53 //MIN_VAL:  1 //MEDIA:  27.16517296255968 //MEDIANA:  28.0 //CURTOSIS:  -0.9860771763295451
(1)  NAME_COL:  arrival_date_day_of_month  //TYPE:  int64 //MAX_VAL:  31 //MIN_VAL:  1 //MEDIA:  15.798241058715135 //MEDIANA:  16.0 //CURTOSIS:  -1.1871683187282633
(1)  NAME_COL:  stays_in_weekend_nights  //TYPE:  int64 //MAX_VAL:  19 //MIN_VAL:  0 //MEDIA:  0.9275986263506156 //MEDIANA:  1.0 //CURTOSIS:  7.174066064392033
(1)  NAME_COL:  stays_in_week_nights  //TYPE:  int64 //MAX_VAL:  50 //MIN_VAL:  0 //MEDIA:  2.500301532791691 //MEDIANA:  2.0 //CURTOSIS:  24.284554815417337
(1)  NAME_COL:  adults  //TYPE:  int64 //MAX_VAL:  55 //MIN_VAL:  0 //MEDIA:  1.8564033838679956 //MEDIANA:  2.0 //CURTOSIS:  1352.115116309367
(2)  NAME_COL:  children  //TYPE:  float64
(1)  NAME_COL:  babies  //TYPE:  int64 //MAX_VAL:  10 //MIN_VAL:  0 //MEDIA:  0.007948739425412514 //MEDIANA:  0.0 //CURTOSIS:  1633.9482346130965
(2)  NAME_COL:  meal  //TYPE:  object
(2)  NAME_COL:  country  //TYPE:  object
(2)  NAME_COL:  market_segment  //TYPE:  object
(2)  NAME_COL:  distribution_channel  //TYPE:  object
(1)  NAME_COL:  is_repeated_guest  //TYPE:  int64 //MAX_VAL:  1 //MIN_VAL:  0 //MEDIA:  0.03191222045397437 //MEDIANA:  0.0 //CURTOSIS:  26.37007679506347
(1)  NAME_COL:  previous_cancellations  //TYPE:  int64 //MAX_VAL:  26 //MIN_VAL:  0 //MEDIA:  0.08711784906608594 //MEDIANA:  0.0 //CURTOSIS:  674.0736925840472
(1)  NAME_COL:  previous_bookings_not_canceled  //TYPE:  int64 //MAX_VAL:  72 //MIN_VAL:  0 //MEDIA:  0.13709690928888515 //MEDIANA:  0.0 //CURTOSIS:  767.2452096961523
(2)  NAME_COL:  reserved_room_type  //TYPE:  object
(2)  NAME_COL:  assigned_room_type  //TYPE:  object
(1)  NAME_COL:  booking_changes  //TYPE:  int64 //MAX_VAL:  21 //MIN_VAL:  0 //MEDIA:  0.22112404724013737 //MEDIANA:  0.0 //CURTOSIS:  79.39360467497997
(2)  NAME_COL:  deposit_type  //TYPE:  object
(2)  NAME_COL:  agent  //TYPE:  float64
(2)  NAME_COL:  company  //TYPE:  float64
(1)  NAME_COL:  days_in_waiting_list  //TYPE:  int64 //MAX_VAL:  391 //MIN_VAL:  0 //MEDIA:  2.321149174972778 //MEDIANA:  0.0 //CURTOSIS:  186.7930696256516
(2)  NAME_COL:  customer_type  //TYPE:  object
(2)  NAME_COL:  adr  //TYPE:  float64
(1)  NAME_COL:  required_car_parking_spaces  //TYPE:  int64 //MAX_VAL:  8 //MIN_VAL:  0 //MEDIA:  0.06251779881062065 //MEDIANA:  0.0 //CURTOSIS:  29.998056170104352
(1)  NAME_COL:  total_of_special_requests  //TYPE:  int64 //MAX_VAL:  5 //MIN_VAL:  0 //MEDIA:  0.5713627607002262 //MEDIANA:  0.0 //CURTOSIS:  1.4925648106220497
(2)  NAME_COL:  reservation_status  //TYPE:  object
(2)  NAME_COL:  reservation_status_date  //TYPE:  object

In [26]:
df_object = df.select_dtypes(include=['int64','float64'])
df_object

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
0,0,342,2015,27,1,0,0,2,0.0,0,0,0,0,3,NaN,NaN,0,0.00,0,0
1,0,737,2015,27,1,0,0,2,0.0,0,0,0,0,4,NaN,NaN,0,0.00,0,0
2,0,7,2015,27,1,0,1,1,0.0,0,0,0,0,0,NaN,NaN,0,75.00,0,0
3,0,13,2015,27,1,0,1,1,0.0,0,0,0,0,0,304.0,NaN,0,75.00,0,0
4,0,14,2015,27,1,0,2,2,0.0,0,0,0,0,0,240.0,NaN,0,98.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,23,2017,35,30,2,5,2,0.0,0,0,0,0,0,394.0,NaN,0,96.14,0,0
119386,0,102,2017,35,31,2,5,3,0.0,0,0,0,0,0,9.0,NaN,0,225.43,0,2
119387,0,34,2017,35,31,2,5,2,0.0,0,0,0,0,0,9.0,NaN,0,157.71,0,4
119388,0,109,2017,35,31,2,5,2,0.0,0,0,0,0,0,89.0,NaN,0,104.40,0,0
119389,0,205,2017,35,29,2,7,2,0.0,0,0,0,0,0,9.0,NaN,0,151.20,0,2

In [27]:
df_num = df.select_dtypes(exclude=['int64','float64'])
df_num

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
1,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
2,Resort Hotel,July,BB,GBR,Direct,Direct,A,C,No Deposit,Transient,Check-Out,2015-07-02
3,Resort Hotel,July,BB,GBR,Corporate,Corporate,A,A,No Deposit,Transient,Check-Out,2015-07-02
4,Resort Hotel,July,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,August,BB,BEL,Offline TA/TO,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-06
119386,City Hotel,August,BB,FRA,Online TA,TA/TO,E,E,No Deposit,Transient,Check-Out,2017-09-07
119387,City Hotel,August,BB,DEU,Online TA,TA/TO,D,D,No Deposit,Transient,Check-Out,2017-09-07
119388,City Hotel,August,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-07
119389,City Hotel,August,HB,DEU,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-07

In [20]:
def sep_col_string_and_num(df):
    for i in range(len(df.columns)):
        #print(df.columns[i], " - ", df[df.columns[i]].dtype.name)
        if(df[df.columns[i]].dtype.name == 'int64' or df[df.columns[i]].dtype.name == 'int64'):
            print("(1) ","NAME_COL: ",df.columns[i], " //TYPE: ", df[df.columns[i]].dtype.name, "//MAX_VAL: ",df[df.columns[i]].max(), "//MIN_VAL: ",df[df.columns[i]].min(), "//MEDIA: ",df[df.columns[i]].mean(), "//MEDIANA: ",df[df.columns[i]].median(), "//CURTOSIS: ", df[df.columns[i]].kurt())
        else:
            print("(2) ","NAME_COL: ",df.columns[i], " //TYPE: ", df[df.columns[i]].dtype.name)

In [21]:
sep_col_string_and_num(df)

(2)  NAME_COL:  hotel  //TYPE:  object
(1)  NAME_COL:  is_canceled  //TYPE:  int64 //MAX_VAL:  1 //MIN_VAL:  0 //MEDIA:  0.37041628277075134 //MEDIANA:  0.0 //CURTOSIS:  -1.7120049858378619
(1)  NAME_COL:  lead_time  //TYPE:  int64 //MAX_VAL:  737 //MIN_VAL:  0 //MEDIA:  104.01141636652986 //MEDIANA:  69.0 //CURTOSIS:  1.6964488485585467
(1)  NAME_COL:  arrival_date_year  //TYPE:  int64 //MAX_VAL:  2017 //MIN_VAL:  2015 //MEDIA:  2016.156554150264 //MEDIANA:  2016.0 //CURTOSIS:  -0.9945637526390856
(2)  NAME_COL:  arrival_date_month  //TYPE:  object
(1)  NAME_COL:  arrival_date_week_number  //TYPE:  int64 //MAX_VAL:  53 //MIN_VAL:  1 //MEDIA:  27.16517296255968 //MEDIANA:  28.0 //CURTOSIS:  -0.9860771763295451
(1)  NAME_COL:  arrival_date_day_of_month  //TYPE:  int64 //MAX_VAL:  31 //MIN_VAL:  1 //MEDIA:  15.798241058715135 //MEDIANA:  16.0 //CURTOSIS:  -1.1871683187282633
(1)  NAME_COL:  stays_in_weekend_nights  //TYPE:  int64 //MAX_VAL:  19 //MIN_VAL:  0 //MEDIA:  0.9275986263506156 //MEDIANA:  1.0 //CURTOSIS:  7.174066064392033
(1)  NAME_COL:  stays_in_week_nights  //TYPE:  int64 //MAX_VAL:  50 //MIN_VAL:  0 //MEDIA:  2.500301532791691 //MEDIANA:  2.0 //CURTOSIS:  24.284554815417337
(1)  NAME_COL:  adults  //TYPE:  int64 //MAX_VAL:  55 //MIN_VAL:  0 //MEDIA:  1.8564033838679956 //MEDIANA:  2.0 //CURTOSIS:  1352.115116309367
(2)  NAME_COL:  children  //TYPE:  float64
(1)  NAME_COL:  babies  //TYPE:  int64 //MAX_VAL:  10 //MIN_VAL:  0 //MEDIA:  0.007948739425412514 //MEDIANA:  0.0 //CURTOSIS:  1633.9482346130965
(2)  NAME_COL:  meal  //TYPE:  object
(2)  NAME_COL:  country  //TYPE:  object
(2)  NAME_COL:  market_segment  //TYPE:  object
(2)  NAME_COL:  distribution_channel  //TYPE:  object
(1)  NAME_COL:  is_repeated_guest  //TYPE:  int64 //MAX_VAL:  1 //MIN_VAL:  0 //MEDIA:  0.03191222045397437 //MEDIANA:  0.0 //CURTOSIS:  26.37007679506347
(1)  NAME_COL:  previous_cancellations  //TYPE:  int64 //MAX_VAL:  26 //MIN_VAL:  0 //MEDIA:  0.08711784906608594 //MEDIANA:  0.0 //CURTOSIS:  674.0736925840472
(1)  NAME_COL:  previous_bookings_not_canceled  //TYPE:  int64 //MAX_VAL:  72 //MIN_VAL:  0 //MEDIA:  0.13709690928888515 //MEDIANA:  0.0 //CURTOSIS:  767.2452096961523
(2)  NAME_COL:  reserved_room_type  //TYPE:  object
(2)  NAME_COL:  assigned_room_type  //TYPE:  object
(1)  NAME_COL:  booking_changes  //TYPE:  int64 //MAX_VAL:  21 //MIN_VAL:  0 //MEDIA:  0.22112404724013737 //MEDIANA:  0.0 //CURTOSIS:  79.39360467497997
(2)  NAME_COL:  deposit_type  //TYPE:  object
(2)  NAME_COL:  agent  //TYPE:  float64
(2)  NAME_COL:  company  //TYPE:  float64
(1)  NAME_COL:  days_in_waiting_list  //TYPE:  int64 //MAX_VAL:  391 //MIN_VAL:  0 //MEDIA:  2.321149174972778 //MEDIANA:  0.0 //CURTOSIS:  186.7930696256516
(2)  NAME_COL:  customer_type  //TYPE:  object
(2)  NAME_COL:  adr  //TYPE:  float64
(1)  NAME_COL:  required_car_parking_spaces  //TYPE:  int64 //MAX_VAL:  8 //MIN_VAL:  0 //MEDIA:  0.06251779881062065 //MEDIANA:  0.0 //CURTOSIS:  29.998056170104352
(1)  NAME_COL:  total_of_special_requests  //TYPE:  int64 //MAX_VAL:  5 //MIN_VAL:  0 //MEDIA:  0.5713627607002262 //MEDIANA:  0.0 //CURTOSIS:  1.4925648106220497
(2)  NAME_COL:  reservation_status  //TYPE:  object
(2)  NAME_COL:  reservation_status_date  //TYPE:  object

In [17]:
for i in range(len(df.columns)):
    print(df.columns[i], " - ", df[df.columns[i]].dtype.name)

hotel  -  object
is_canceled  -  int64
lead_time  -  int64
arrival_date_year  -  int64
arrival_date_month  -  object
arrival_date_week_number  -  int64
arrival_date_day_of_month  -  int64
stays_in_weekend_nights  -  int64
stays_in_week_nights  -  int64
adults  -  int64
children  -  float64
babies  -  int64
meal  -  object
country  -  object
market_segment  -  object
distribution_channel  -  object
is_repeated_guest  -  int64
previous_cancellations  -  int64
previous_bookings_not_canceled  -  int64
reserved_room_type  -  object
assigned_room_type  -  object
booking_changes  -  int64
deposit_type  -  object
agent  -  float64
company  -  float64
days_in_waiting_list  -  int64
customer_type  -  object
adr  -  float64
required_car_parking_spaces  -  int64
total_of_special_requests  -  int64
reservation_status  -  object
reservation_status_date  -  object